* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(120deg, #e8d4ff, #0f1652a5);
    color: rgb(212, 126, 13);
    font-family: 55vh;
    font-size: 1.5vw;
}


header,
form {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.5vw;
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}
/* form {
    display: flex;
} */


@media screen and (max-width: 700px) {
    body {
        font-size: 2vw; 
    }


    form input {
        width: 80%; 
        height: 2vw; 
    }
}


form input {
    width: 70%;
    height: 2.5vw;
    padding: 1vw;
    font-size: 1.5vw;
    border: 1px solid rgb(224, 198, 198);
    box-sizing: border-box;
}


form button {
    width: 5%;
    height: 2.5vw;
    padding: 0.5vw;
    font-size: 2vw;
    border: 1px solid rgb(50, 0, 0);
    background: rgb(255, 212, 212);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.05s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


form button:hover {
    background: rgb(207, 171, 171);
    color: rgb(0, 0, 0);
}
.todo-container {
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list {
    margin: 1vw;
    padding: 1vw;
    min-width: 60%;
    list-style: numeric;
    list-style-position: inside;
    font-size: 1.1vw;
}


.todo {
    margin: 0.5vw 1vw;
    background-color: rgba(197, 196, 171, 0.919);
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 1.75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.05s ease-in;
}


.todo li {
    flex: 1;
}

.trash-button {
    background: rgb(119, 46, 46);
    color: rgb(255, 255, 255);
    border: black;
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    transition: all 0.05s ease;
}


.trash-button:hover {
    background: rgb(255, 204, 0); /* Choose your preferred color on hover */
    color: rgb(0, 0, 0);
    border: white;
}


.complete-button {
    background: blue;
    color: rgb(255, 255, 255);
    border: black;
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    transition: all 0.05s ease;
    text-decoration: line-through;
    opacity: 0.5;
    stop-color: #e8d4ff;
}

.complete-button::after {
    background:cyan;
}

.complete-button:hover {
    background: rgb(255, 204, 0);
    color: rgb(0, 0, 0);
    border: white;
}


.edit-button {
    background: rgb(0, 255, 72);
    color: rgb(255, 255, 255);
    border:rgb(0, 0, 0);
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    transition: all 0.05s ease;
}


.edit-button:hover {
    background: rgb(255, 204, 0);
    color: rgb(0, 0, 0);
    border: white;
}


.todo-item{
    padding: 0vw 0.5vw;
    font-size: 1.5vw;
}


.fa-trash,
.fa-check{
    pointer-events: none;
}


/* .done{
    text-decoration: line-through;
    opacity: 0.5;
    stop-color: #e8d4ff;
    transition: all 0.05s ease;
} */


.fall{
    transition: all 0.5s ease;
    transform:translateY(8vw) rotateZ(5deg);
    opacity: 0;
}


.delete-all-button {
    width: 8%;
    height: 2.5vw;
    padding: 0.5vw;
    font-size: 2vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(255, 116, 2);
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.2vw;
    transition: all 0.05s ease;
}


.delete-all-button:hover {
    background: rgb(247, 198, 255);; /* Choose your preferred color on hover */
    color: rgb(0, 10, 151);
}


.complete-all-button{
    width: 8%;
    height: 2.5vw;
    padding: 0.5vw;
    font-size: 2vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background:rgb(255, 116, 2);
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.2vw;
    transition: all 0.05s ease;
}

.complete-all-button:hover {
    background: rgb(247, 198, 255);; /* Choose your preferred color on hover */
    color: rgb(0, 10, 151);
}

/*
// Style for completed items
.your_completed_color {
    background: rgb(0, 255, 0); /* Your desired color for completed items
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.8vw;
    transition: all 0.05s ease;
}


// Style for not completed items
.your_not_completed_color {
    background: rgb(255, 0, 0); /* Your desired color for not completed items
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    cursor: pointer;
    font-size: 1.8vw;
    transition: all 0.05s ease;
}
*/

.select {
    position: center;
    overflow: hidden;
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5vw;
    appearance: none;
    outline: none;
    border: none;
    margin: 0;
    color: rgb(213, 138, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9vw;
}

.select::after {
    position: absolute;
    top: 0;
    right: 0.5vw;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgb(0, 0, 0);
}